#begrepp{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#formler{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}